* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  margin-top: 60px;
}

.main-title {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 30px auto;
}

.day {
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.day a {
  color: black;
}

footer {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 30px;
  left: 50%;
}

.detail {
  width: 30%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}
