* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}
.main {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 95%;
  margin: 0 auto;
}

.day {
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

footer {
  display: block;
}

.detail {
  width: 30%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}
